body {
	margin: 0;
	overflow: hidden;
}
.wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;

}
.topHalf {
	position: relative;
	width: 100vw;
	height: 50vh;
	z-index: 4;
	transition: all 1s ease;
}
.bottomHalf {
	position: relative;
	width: 100vw;
	height: 50vh;
	background-color: rgb(93,112,0);
	z-index: 10;
}
.phone {
	width: 25rem;
	height: 48rem;
	display: flex;
	position: absolute;
	border-radius: 2rem;
	top: 105%;
	z-index: 100;
	box-shadow: 2px 2px 20px rgb(0,0,0);
	transition: all 1s ease;
	background-color: rgb(50,50,50);
	display: flex;
	flex-flow: column;
}
iframe {
	width: 98%;
	height: 89%;
	margin: 2rem auto;
	border-radius: .5rem;
	border: none;
}
.button {
	width: 20%;
	height: 1.8rem;
	border-radius: 8px 8px 10px 10px;
	margin: auto;
	position: relative;
	bottom: 1rem;
	background-color: rgb(20,20,20);
	cursor: pointer;
}
.button:hover {
	background-color: rgb(70,70,70);
}